@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
* {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

:root {
  --bcolor: rgb(145, 145, 145); }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  background: linear-gradient(200deg, #0a0a0a 10%, #000f1f 50%, #0a0a0a 100%);
  user-select: none;
  width: 100vw;
  overflow-x: hidden; }

.c-scrollbar_thumb {
  background: #001e3f; }

#custom-cursor {
  position: absolute;
  top: 50vh;
  left: 50vw;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(190, 190, 190, 0.85);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  transition: all .3s ease-out; }

.hero-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  color: var(--bcolor); }

.hero-img {
  position: absolute;
  width: 100%;
  filter: blur(0.65rem); }

.hero-text-container {
  position: absolute;
  top: 36vh;
  left: 15vh; }

.hero-heading {
  font-size: 5rem;
  letter-spacing: 8px;
  font-family: "Poiret One", Arial, Helvetica, sans-serif;
  transition: transform .3s; }

.hero-description {
  padding: 2rem 0 0 0;
  font-size: 2rem;
  font-family: "Montserrat", "Courier New", Courier, monospace;
  transition: transform .3s; }

.hr1, .hr2 {
  border: 1px solid var(--bcolor);
  position: absolute;
  width: 80%; }

.hr1 {
  bottom: 5rem;
  left: -1rem; }

.hr2 {
  top: 5rem;
  right: -1rem; }

.scroll-indicator {
  width: 3rem;
  height: 3rem;
  position: absolute;
  opacity: 0;
  border-bottom: 2px solid whitesmoke;
  border-right: 2px solid whitesmoke;
  bottom: 11rem;
  left: 50%;
  transform: translateX(-50%) rotate(45deg) skew(0deg, 0deg);
  animation: appear 1s ease 3s 1 alternate forwards, scrolldown 1s ease 1s infinite alternate forwards; }

.moving-section {
  text-align: center;
  font-size: 1.7em;
  letter-spacing: .5rem;
  color: silver;
  font-style: italic;
  width: 150rem; }
  .moving-section hr {
    border: 1px solid var(--bcolor); }

.street-container {
  width: 100vw;
  height: 100vh; }
  .street-container-photo {
    float: left;
    width: 50%;
    height: 100%; }
    .street-container-photo-collage {
      width: 82.5%;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);
      opacity: 0;
      transition: opacity 1s, transform .5s, box-shadow .5s; }
      .street-container-photo-collage:hover {
        transform: translate(-50%, -50%) scale(1.05);
        box-shadow: 0 0 20px rgba(105, 105, 105, 0.6); }
  .street-container-description {
    float: right;
    width: 50%;
    height: 100%;
    color: var(--bcolor);
    border: 1px solid #3c3c3c;
    background: url("../backgrounds/background (1).png");
    background-size: cover; }
    .street-container-description-heading {
      width: 70%;
      line-height: 175%;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: "Montserrat", "Courier New", Courier, monospace;
      font-size: 3rem;
      opacity: 0;
      transition: opacity 3s; }

.murti-container {
  width: 100vw;
  height: 100vh; }
  .murti-container-photo {
    float: right;
    width: 50%;
    height: 100%; }
    .murti-container-photo-collage {
      width: 82.5%;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);
      opacity: 0;
      transition: opacity 1s, transform .5s, box-shadow .5s; }
      .murti-container-photo-collage:hover {
        transform: translate(-50%, -50%) scale(1.05);
        box-shadow: 0 0 20px rgba(105, 105, 105, 0.6); }
  .murti-container-description {
    float: left;
    width: 50%;
    height: 100%;
    color: var(--bcolor);
    border: 1px solid #3c3c3c;
    background: url("../backgrounds/background (3).png");
    background-size: cover; }
    .murti-container-description-heading {
      width: 70%;
      line-height: 175%;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: "Montserrat", "Courier New", Courier, monospace;
      font-size: 3rem;
      opacity: 0;
      transition: opacity 3s; }

.about-container {
  width: 100vw;
  height: 100vh;
  position: relative; }

.about-img-1-cont-border, .about-img-2-cont-border {
  height: 39rem;
  width: 25rem;
  position: absolute; }

.about-img-1-cont-border {
  top: 8rem;
  left: 8rem; }

.about-img-2-cont-border {
  bottom: 8rem;
  right: 8rem; }

.about-img-1-cont, .about-img-2-cont {
  height: calc(39rem - 5px);
  width: calc(25rem - 5px);
  overflow: hidden;
  filter: grayscale(0.8);
  position: absolute;
  top: 2px;
  left: 2px; }

.about-img-1 {
  height: 48rem;
  width: 26rem; }

.about-img-2 {
  height: 39rem;
  width: 31rem; }

.about-text-container {
  position: relative;
  top: 10vh;
  margin: auto;
  height: 80%;
  width: 28%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  background: url("../backgrounds/background (2).png");
  background-size: cover;
  opacity: 0;
  transition: opacity 2.5s; }

.about-text-heading, .about-text-paragraph {
  color: #c7c7c7;
  text-align: center;
  margin: 0 1rem; }

.about-text-heading {
  font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3.2rem; }

.about-text-paragraph {
  font-family: "Montserrat", "Courier New", Courier, monospace;
  font-size: 1.8rem;
  line-height: 2.1; }

.img-border-top, .img-border-bottom {
  border: 1px solid white;
  width: 35rem;
  height: 0; }

.img-border-left, .img-border-right {
  border: 1px solid white;
  height: 45rem;
  width: 0;
  display: inline-block; }

.img-border-top {
  position: absolute;
  top: 0;
  left: -6rem; }

.img-border-bottom {
  position: absolute;
  bottom: 0;
  right: -6rem; }

.img-border-left {
  position: absolute;
  left: 0;
  top: -6rem; }

.img-border-right {
  position: absolute;
  right: 0;
  bottom: -6rem; }

@media (max-width: 1040px) {
  html {
    font-size: 57.5%; } }

@media (max-width: 1020px) {
  html {
    font-size: 52.5%; } }

@media (max-width: 950px) {
  html {
    font-size: 47.5%; }
  .about-text-container {
    height: 70%;
    top: 15vh; } }

@media (max-width: 900px) {
  .about-img-1-cont-border {
    top: 7rem;
    left: 4.5rem; }
  .about-img-2-cont-border {
    bottom: 7rem;
    right: 4.5rem; } }

@media (max-width: 860px) {
  .about-img-1-cont, .about-img-2-cont {
    border: 5px inset var(--bcolor); }
  .img-border-top, .img-border-left, .img-border-bottom, .img-border-right {
    display: none; }
  .about-text-container {
    width: 32.5rem; } }

@media (max-width: 780px) {
  .about-container {
    height: 200vh; }
  .about-img-1-cont-border, .about-img-2-cont-border {
    height: 46rem;
    width: 32rem; }
  .about-img-1-cont-border {
    top: 5rem;
    left: 4.5rem; }
  .about-img-2-cont-border {
    bottom: 5rem;
    right: 4.5rem; }
  .about-img-1-cont, .about-img-2-cont {
    height: calc(46rem - 5px);
    width: calc(32rem - 5px); }
  .about-img-1 {
    height: 61rem;
    width: 33rem; }
  .about-img-2 {
    height: 50rem;
    width: 38rem; }
  .about-text-container {
    top: 75vh;
    height: 27.5%;
    width: 80%; }
  .about-text-heading {
    font-size: 3.8rem; }
  .about-text-paragraph {
    font-size: 2rem; } }

@media (max-width: 780px) {
  .hero-text-container {
    top: 22.5rem;
    left: 7.5rem;
    color: whitesmoke; }
  .hero-heading {
    font-size: 4rem; }
  .murti-container-description-heading, .street-container-description-heading {
    font-size: 2.75rem;
    width: 85%; } }

@media (max-width: 450px) {
  html {
    font-size: 42.5%; }
  .hero-text-container {
    bottom: 2.5rem;
    left: 5rem; }
  .hero-heading {
    font-size: 3.5rem; } }

@keyframes scrolldown {
  from {
    bottom: 11rem;
    transform: translateX(-50%) rotate(45deg) skew(0deg, 0deg); }
  to {
    bottom: 8rem;
    transform: translateX(-50%) rotate(45deg) skew(5deg, 5deg); } }

@keyframes appear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.add-opacity {
  opacity: 1; }
