* {
  // border: 1px solid greenyellow;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

:root {
  --bcolor: rgb(145, 145, 145);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background: linear-gradient(200deg, rgba(10,10,10,1) 10%, rgba(0,15,31,1) 50%, rgba(10,10,10,1) 100%);
  user-select: none;
}

.c-scrollbar_thumb {
  background: rgb(0, 30, 63);
}

#custom-cursor {
  position: absolute;
  top: 50vh;
  left: 50vw;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(190, 190, 190, 0.85);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  transition: all .3s ease-out;
}