@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

$Montserrat: "Montserrat", 'Courier New', Courier, monospace;
$Poiret-one: "Poiret One", Arial, Helvetica, sans-serif;
$Raleway: "Raleway", Verdana, Geneva, Tahoma, sans-serif;