.hero {
    &-container {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        position: relative;
        color: var(--bcolor);
    }
  
    &-img {
        position: absolute;
        width: 100%;
        filter: blur(.65rem);
    }

    &-text-container {
        position: absolute;
        top: 36vh;
        left: 15vh;
    }

    &-heading {
        font-size: 5rem;
        letter-spacing: 8px;
        font-family: $Poiret-one;
        transition: transform .3s;
    }

    &-description {
        padding: 2rem 0 0 0;
        font-size: 2rem;
        font-family: $Montserrat;
        transition: transform .3s;
    } 
}  

.hr1, .hr2 {
    border: 1px solid var(--bcolor);
    position: absolute;
    width: 80%;
}
  
.hr1 {
    bottom: 5rem;
    left: -1rem;
}

.hr2 {
    top: 5rem;
    right: -1rem;
}

.scroll-indicator {
    width: 3rem;
    height: 3rem;
    position: absolute;
    opacity: 0;
    border-bottom: 2px solid whitesmoke;
    border-right: 2px solid whitesmoke;
    bottom: 10rem;
    left: 50%;
    transform: translateX(-50%) rotate(45deg) skew(0deg, 0deg);
    animation: appear 1s ease 3s 1 alternate forwards, scrolldown 1s ease 1s infinite alternate forwards;
}