@media (max-width: 1040px) {
    html {
        font-size: 57.5%;
    }
}

@media (max-width: 1020px) {
    html {
        font-size: 52.5%;
    }
}

@media (max-width: 950px) {
    html {
        font-size: 47.5%;
    }
    .about-text-container {
        height: 70%;
        top: 15vh;
    }
}

@media (max-width: 900px) {
    .about-img-1-cont-border {
        top: 7rem;
        left: 4.5rem;
    }
    .about-img-2-cont-border {
        bottom: 7rem;
        right: 4.5rem;
    }
}

@media (max-width: 860px) {
    .hr1 {
        bottom: 8rem;
    }
    .hr2 {
        top: 8rem;
    }
    .scroll-indicator {
        bottom: 15rem;
    }
    .about-img-1-cont, .about-img-2-cont {
        border: 5px inset var(--bcolor);
    }
    .img-border-top, .img-border-left, .img-border-bottom, .img-border-right {
        display: none;
    }
    .about-text-container {
        width: 32.5rem;
    }
}

@media (max-width: 780px)  {
    .about-container {
        height: 200vh;
    }
    .about-img-1-cont-border, .about-img-2-cont-border {
        height: 46rem;
        width: 32rem;
    }
    .about-img-1-cont-border {
        top: 5rem;
        left: 4.5rem;
    }
    .about-img-2-cont-border {
        bottom: 5rem;
        right: 4.5rem;
    }
    .about-img-1-cont, .about-img-2-cont {
        height: calc(46rem - 5px);
        width: calc(32rem - 5px);
    }
    .about-img-1 {
        height: 61rem;
        width: 33rem;
    }
    .about-img-2 {
        height: 50rem;
        width: 38rem;
    }
    .about-text-container {
        top: 75vh;
        height: 27.5%;
        width: 80%;
    }
    .about-text-heading {
        font-size: 3.8rem;
    }
    .about-text-paragraph {
        font-size: 2rem;
    }
}

@media (max-width: 780px) {
    .hero-text-container {
        top: 22.5rem;
        left: 7.5rem;
        color: whitesmoke;
    }
    .hero-heading {
        font-size: 4rem;
    }
    .murti-container-description-heading, .street-container-description-heading {
        font-size: 2.75rem;
        width: 85%;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 42.5%;
    }
    .hero-text-container {
        bottom: 2.5rem;
        left: 5rem;
    }
    .hero-heading {
        font-size: 3.5rem;
    }
}